* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body style */

:root {
    --font: 'Futura', 'Trebuchet MS', 'Arial', sans-serif;
  }

:root {
    --orColour: #F34C19;
  }


body {

    background-color: #343F71;
}

/* Header style */

.head-div {
    background-color:  var(--orColour);
    border-radius: 70px;
    width: 100%;
    margin: 30px;
    border: 5px solid black;
    box-shadow: 0 0 10px 5px  var(--orColour);
    padding: 10px;
}


header {
    display: flex;
    justify-content: center;
}

.header-text {
    text-align: center;
    color: #E9D8E4;
    font-family: var(--font);
    font-size: 30px;
}


/* main styles */

.article-text {
    text-align: center;
    font-size: x-large;
    color: black;
    font-weight: bolder;
    font-family: var(--font);
}

/* button style */
.button-div {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 3px
}

.button {

 background-color: var(--orColour);
 width: 300px;
 height: 300px;
 border-radius: 50%;
 border: 8px solid black;

}

.button-text {
    font-size: 50px;
    font-family: var(--font);

}

.quizButtons {
background-color: var(--orColour);
width: 40px;
height: 40px;
margin: 10px;
border: 5px solid black;
width: 80%;
border-radius: 10%;
background-color: #D3D3D3;
font-size: 20px;
font-family: var(--font);



}

.answerDiv {
    background-color: var(--orColour);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    border: 10px solid black;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

 .questionDiv {
   font-size: 30px;
   font-family: var(--font);
 }

 .endButton {
    background-color: aqua;
 }



/* Score */

 .scoreB {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    font-size: 30px;
    font-family: var(--font);
 }

 .scoreBox {
 margin: 30px;

 }


 .intCon1 {
    display: flex;
    justify-content: center;
 }

 .scoreBox2 {
    border: none;
 }

 
 .intCon2 {
    border: none;
    
 }

.tableH {
border: 4px solid black;
background-color: #D3D3D3;
width: 50%;
}

.tHeaders {

background-color: var(--orColour);
}

.homeButt { 
    border: 4px solid black;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    margin: 20px;
    background-color: #D3D3D3;

}

.leaderText {
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    .quizButtons {
      width: fit-content !important;
      height: fit-content !important;
      padding: 10px;
    }
  }

@media screen and (max-width: 600px) {
    .answerDiv {
        width: fit-content;
    }
}